/* Coolors Exported Palette - coolors.co/b1b7d1-ffc7b0-fff5b0-80d4ff-ffbfdb */

/* HSL */
$color1: hsla(229%, 26%, 76%, 1);
$color2: hsla(17%, 100%, 85%, 1);
$color3: hsla(52%, 100%, 85%, 1);
$color4: hsla(200%, 100%, 75%, 1);
$color5: hsla(334%, 100%, 87%, 1);

/* RGB */
$color1: rgba(177, 183, 209, 1);
$color2: rgba(255, 199, 176, 1);
$color3: rgba(255, 245, 176, 1);
$color4: rgba(128, 212, 255, 1);
$color5: rgba(255, 191, 219, 1);