* {
  margin: 0;
}

h1, h2 {
  font-family: 'Gloria Hallelujah', cursive;
}

h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  }

p {
  font-family: 'Montserrat', sans-serif;
}

  #headSmall, #headMedium, #headLarge {
  display: none;
}

/* different media */
@media screen and (min-width: 993px) {
  h1 {font-size: 2vw;}
  h2 {font-size: 1.75vw;}
  h3 {font-size: 1.5vw;}
  h4 {font-size: 1.5vw;}
  h5 {font-size: 0.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}
  
  #strongHead {
    font-size: 6vw;
  }

  #strongGen {
    font-size: 2.75vw;
    margin-right: 50px;
    margin-top: 25px;
  }

  #headLarge {
    display: block;
  }

  /*adMedium, #headSmall {
    display: none;
  }*/
}

@media screen and (max-width: 992px) {
  h1 {font-size: 4vw;}
  h2 {font-size: 2,75vw;}
  h3 {font-size: 2.25vw;}
  h4 {font-size: 2.25vw;}
  h5 {font-size: 0.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}

  #strongHead {
    font-size: 8vw;
  }
  
  #strongGen {
    font-size: 3.75vw;
    margin-right: 20px;
    margin-top: 10px;
  }

  #headMedium {
    display: block;
  }

  /*#headLarge, #headSmall {
    display: none;
  }*/
}

@media screen and (max-width: 600px) {
  h1 {font-size: 5vw;}
  h2 {font-size: 3.5vw;}
  h3 {font-size: 3vw;}
  h4 {font-size: 2.5vw;}
  h5 {font-size: 1.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}
  
  #strongHead {
    font-size: 9vw;
  }

  #strongGen {
    font-size: 4.5vw;
    margin-right: 20px;
    margin-top: 17px;
  }

  #headSmall {
    display: block;
  }

  #headMedium {
    display: none;
  }
}



/* font colors*/
h1, h2, h3, h4, h5, h6 {color: #FFF5B0}
p {color: #80d4ff;}

/*#firstHeadPoly {
  width: 100vw;

}*/

#strongHead {
  transform: rotate(-4deg);
  text-align: center;
}

#strongGen {
  transform: rotate(4deg);
  vertical-align: bottom;
  float: right;
}

#headSvg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#head {
  position: relative;
}

#head h1 h2 {
  position: relative;
  width: 100%;
}

#headPolyOne {
  fill: #80d4ff;
}

#headPolyTwo {
  fill: #FFC7B0;
}

#strongHead, #strongGen {
  filter: url(#f1);
}