* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Gloria Hallelujah', cursive;
}

h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  }

p {
  font-family: 'Montserrat', sans-serif;
}

header, footer {
  overflow: hidden;
}

#headSmall, #headMedium, #headLarge, #footerSmall, #footerMedium, #footerLarge {
  display: none;
}

/* different media */
@media screen and (min-width: 993px) {
  h1 {font-size: 2vw;}
  h2 {font-size: 1.75vw;}
  h3 {font-size: 1.5vw;}
  h4 {font-size: 1.5vw;}
  h5 {font-size: 0.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}
  
  .strongHead {
    font-size: 6vw;
  }

  .strongGen {
    font-size: 2.75vw;
    margin-right: 50px;
    margin-top: 25px;
  }

  #headLarge {
    display: block;
  }

  .headLine {
    stroke-width: 1px;
    stroke-linecap: round;
  }

  #footerLarge {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  h1 {font-size: 4vw;}
  h2 {font-size: 2,75vw;}
  h3 {font-size: 2.25vw;}
  h4 {font-size: 2.25vw;}
  h5 {font-size: 0.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}

  .strongHead {
    font-size: 8vw;
  }
  
  .strongGen {
    font-size: 3.75vw;
    margin-right: 20px;
    margin-top: 10px;
  }

  #headMedium {
    display: block;
  }

  .headLine {
    stroke-width: 1.5px;
    stroke-linecap: round;
  }

  #footerMedium {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  h1 {font-size: 5vw;}
  h2 {font-size: 3.5vw;}
  h3 {font-size: 3vw;}
  h4 {font-size: 2.5vw;}
  h5 {font-size: 1.75vw;}
  h6 {font-size: 1.5vw;}
  p {font-size: 1em;}
  
  .strongHead {
    font-size: 9vw;
  }

  .strongGen {
    font-size: 4.5vw;
    margin-right: 20px;
    margin-top: 17px;
  }

  #headSmall {
    display: block;
  }

  #headMedium {
    display: none;
  }

  .headLine {
    stroke-width: 2px;
    stroke-linecap: round;
  }

  #footerSmall {
    display: block;
    overflow: hidden;
  }

  #footerMedium {
    display: none;
  }
}

/* font colors*/
h1, h2, h3, h4, h5, h6 {color: #FFF5B0}
p {color: #80d4ff;}

.strongHead {
  transform: rotate(-4deg);
  text-align: center;
  text-shadow: 2px 2px 2px #999999;
}

.strongGen {
  transform: rotate(4deg);
  float: right;
  text-shadow: 2px 2px 2px #999999;
}

.headSvg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}

#headPolyOne {
  fill: #80d4ff;
}

#headPolyTwo {
  fill: #FFC7B0;
}

.headLine {
  stroke: #FFF5B0;
}

#mainSec {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}

#jokerBox {
  margin: auto;
  border:3px solid #80d4ff;
  border-radius: 0 30px 0 30px;
  color: #80d4ff;
  font-weight: bold;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  background-color: #ffffff;
  font-size: 20px;
  opacity: 1;
  /* max-height: 500px; */
  transition: 2s;
  /*transition: display 0.6s, opacity 0.6s, max-height 0.6s linear;*/
  display: none;
  /*-webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-name: fadeIn;
  animation-duration: 2s;
  Fixa egen annimation*/
}


#jokerButton {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 175px;
  width: 175px;
  cursor: pointer;
  text-align: center;
  text-shadow: 2px 2px 2px #999999;
  outline: none;
  background-color: #FFC7B0;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px #999;
}

#jokerButton:hover {
  background-color: #80d4ff;
}

#jokerButton:active {
  height: 165px;
  width: 165px;
  margin-top: 35px;
  margin-bottom: 35px;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#footerOne {
  text-align: center;
}

#footerOne h1 {
  padding: 10px;
  font-weight: bold;
  color: #FFF5B0;
  text-shadow: 2px 2px 2px #999999;
}

#footerOne form input {
  padding: 20px;
  border: 5px solid #80d4ff;
  border-radius: 50px;
  color: #FFBC86;
  font-size: 15px;
  text-align: center;
}

#footerOne form input:focus {
  outline: none;
}

footer {
  width: 100%;
  z-index: -1;
}

.footSvg {
  display: block;
}

#footerOne {
  position: absolute;
  width: 100%;
}

#footPolyOne {
  fill: #80d4ff;
}

#footPolyTwo {
  fill: #FFC7B0;
}

#formShare {
  position: absolute;
  bottom: 10px;
  right: 5px;
  }

#footerShareSite {
  position: absolute;
  bottom: 65px;
  right: 30px;
  cursor: pointer;
  }

#siteUrl {
  cursor: pointer;
}

#footerGreeting {
  position: absolute;
  bottom: 10px;
  left: 5px;
  text-align: left;
  padding: 10px;
  text-shadow: 2px 2px 2px #999999;
}

#footerShareSite, #formShare {
  display: inline-block;
  /*position: fixed;*/
  
}

/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.8s;
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.8s;
  animation-name: slideIn;
  animation-duration: 0.8s;
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.fab {
  color: #FFC7B0;
  font-size: 75px;
  padding: 10px;
}
.far {
  color: #FFC7B0;
  font-size: 85px;
  padding: 10px;
  -webkit-animation: rotate-scale-down 0.95s linear 5s 3 alternate both;
  animation: rotate-scale-down 1.15s linear 5s 2 alternate both;
}

@-webkit-keyframes .far {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.closeModal {
  color: white;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: #FFC7B0;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 20px;
  background-color: #80d4ff;
  border-top: 5px solid #FFC7B0;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 20px;
  background-color: #80d4ff;
  color: #FFF5B0;
}